@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.nav-link {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.9) !important;
}

.content-img {
  width: 100%;
  /* height: ; */
}

.content-title {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-family: "raleway";
}

.font-icon {
  font-size: 3rem;
  color: rgb(6, 192, 6);
}

.gray-text {
  color: gray;
  font-family: "Raleway", sans-serif;
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
}

.baby-container {
  width: 70%;
}
.baby-img {
  width: 120px;
  height: 120px;
 object-fit: cover; 
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


.fa-eye, .fa-flag {
  font-size: 2rem;
  margin-right: 1rem;
}
